services:

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    container_name: mm_poc_v2_backend
    env_file:
      - ./backend/.env
    environment:
      GOOGLE_APPLICATION_CREDENTIALS: /root/.config/gcloud/application_default_credentials.json
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
      - backend_venv:/app/.venv
      - tf_data:/root/text-fabric-data
      - ${HOME}/.config/gcloud:/root/.config/gcloud:ro
    command: bash entrypoint.sh uv run uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      target: build
    container_name: mm_poc_v2_frontend
    env_file:
      - ./frontend/.env
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend
    command: npm run dev -- --host

volumes:
  tf_data:
  backend_venv:
